[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
flask = "*"
pyyaml = "*"

[dev-packages]
bandit = "*"

[requires]
python_version = "3.8"
